<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Faliactyl</title>
        <% if (settings.api.arcio.enabled == true) { %>
            <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
        <% } %>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>
      <!-- Faliactyl Sidebar -->
<%- include('./components/sidebar') %>
      <!-- End Sidebar -->
      <!-- Faliactyl Navbar -->
      
      
      <%- include('./components/navbar') %>
      <!-- End Navbar -->
          <!-- values -->
          <%
          let ram = 0;
          let disk = 0;
          let cpu = 0;
          let servers = pterodactyl.relationships.servers.data.length;
          for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
              ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
              disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
              cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
          }
      %>
      
      <!--Faliactyl Ad System-->
      <%- include('./components/ads') %>       
      <!--End Ad System-->

     
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Storage</p>
            <h3 class="card-title"<code><%= disk %>MB</code> /<%= (packages ? packages.disk : 0) + extraresources.disk %>MB</code>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Ram</p>
            <h3 class="card-title"><%= ram %>MB / <%= (packages ? packages.ram : 0) + extraresources.ram %>MB</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">info_outline</i>
            </div>
            <p class="card-category">CPU</p>
            <h3 class="card-title"><%= cpu %>% / <%= (packages ? packages.cpu : 0) + extraresources.cpu %>%</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i> Tracked from Github
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="card-category">Servers</p>
            <h3 class="card-title"><%= servers %> server<%= servers == 1 ? "" : "s" %> / <%= (packages ? packages.servers : 0) + extraresources.servers %> server<%= (packages ? packages.servers : 0) + extraresources.servers == 1 ? "" : "s" %></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="main-panel">
      <div class="content-wrapper">
        <% if (req.query.err) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <% if (req.query.err == "MISSINGVARIABLE") { %>
                You have not filled out all of the server information.
            <% } else if (req.query.err == "NOTANUMBER") { %>
                RAM, disk and CPU must be a number.
            <% } else if (req.query.err == "ERRORONCREATE") { %>
                This location is full, please check if there are available locations before creating a server.
            <% } else if (req.query.err == "BIGSERVERNAME") { %>
                Your server name must be less than <b>191</b> characters.
            <% } else if (req.query.err == "TOOMUCHSERVERS") { %>
                Too many servers!
            <% } else if (req.query.err == "PREMIUMLOCATION") { %>
                Please select a location.
            <% } else { %>
                <% if (req.query.num) { %>
                    <% if (!isNaN(parseFloat(req.query.num))) { %>
                        <% if (req.query.err == "TOOLITTLERAM" || req.query.err == "TOOLITTLEDISK" || req.query.err == "TOOLITTLECPU") { %>
                            You must make a server with at least <b><%= req.query.num %></b>
                            <% if (req.query.err.slice(-3) == "RAM") { %>
                                MB RAM
                            <% } else if (req.query.err.slice(-4) == "DISK") { %>
                                MB disk
                            <% } else { // CPU %>
                                % CPU
                            <% } %>
                            if you want to create a server with the server type you have selected.
                        <% } else if (req.query.err == "TOOMUCHRAM" || req.query.err == "TOOMUCHDISK" || req.query.err == "TOOMUCHCPU") { %>
                            With the selected server type, you can have a maximum of <b><%= req.query.num %></b>
                            <% if (req.query.err.slice(-3) == "RAM") { %>
                                MB RAM
                            <% } else if (req.query.err.slice(-4) == "DISK") { %>
                                MB disk
                            <% } else { // CPU %>
                                % CPU
                            <% } %>
                            on the server.
                        <% } else if (req.query.err == "EXCEEDRAM" || req.query.err == "EXCEEDDISK" || req.query.err == "EXCEEDCPU") { %>
                            You don't have enough resources to make this server.
                        <% } else { %>
                            I won't mind to add a little easter egg here. :)
                        <% } %>
                    <% } else { %>
                        I won't mind to add a little easter egg here. :)
                    <% } %>
                <% } else { %>
                    I won't mind to add a little easter egg here. :)
                <% } %>
            <% } %>
        </div>
    <% } %>
        <div class="page-header">
        </div>
        <%- include('./components/ads') %>
        <div class="row">
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <form class="forms-sample">
                  <div class="form-group">
                    <label for="InputName">Server Name</label>
                    <input type="text" class="form-control" id="InputName" placeholder="My Server">
                  </div>
                  <div class="form-group">
                    <label for="InputCPU">CPU</label>
                    <input type="number" class="form-control" id="InputCPU" placeholder="120">
                  </div>
                  <div class="form-group">
                    <label for="InputRAM">RAM</label>
                    <input type="number" class="form-control" id="InputRAM" placeholder="2048">
                  </div>
                  <div class="form-group">
                    <label for="InputDisk">Disk</label>
                    <input type="number" class="form-control" id="InputDisk" placeholder="20480">
                  </div>
                  <div class="form-group">
                    <label for="InputLoc">Location</label><BR>
                    <select class="btn btn-secondary dropdown-toggle" style="background-color: #2a3038; border: 1px solid #2c2e33; color: #e4eaec;" id="InputLoc">
                      <% for (let [name, value] of Object.entries(settings.api.client.locations)) { %>
                        <option value="<%= name %>"><%= value.name %></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="InputEgg">Software</label><BR>
                    <select class="btn btn-secondary dropdown-toggle" style="background-color: #2a3038; border: 1px solid #2c2e33; color: #e4eaec;" id="InputEgg">
                      <% for (let [name, value] of Object.entries(settings.api.client.eggs)) { %>
                        <option value="<%= name %>"><%= value.display %></option>
                      <% } %>
                    </select>
                  </div>
                  <a role="button" class="badge badge-outline-green" style="padding: 12px 30px; font-size: 15px;" href="javascript: submitNew()">Create</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Faliactyl Footer-->
      <%- include('./components/footer') %>
      <!--Footer End-->
  </div>

  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    async function submitNew() {
      let name = encodeURIComponent(document.getElementById("InputName").value);
      let egg = encodeURIComponent(document.getElementById("InputEgg").value);
      let ram = encodeURIComponent(document.getElementById("InputRAM").value);
      let disk = encodeURIComponent(document.getElementById("InputDisk").value);
      let cpu = encodeURIComponent(document.getElementById("InputCPU").value);
      let location = encodeURIComponent(document.getElementById("InputLoc").value);
      document.location.href = `/create?name=${name}&egg=${egg}&ram=${ram}&disk=${disk}&cpu=${cpu}&location=${location}`;
    };
  </script>
  <script src="assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="assets/js/argon.js?v=1.2.0"></script>
</body>

</html>
